html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #202023;
    color: #fff;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: large;
}

.save-button {
    background-color: #1b6ec2;
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.95);
}

.save-button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: #1878d7;
}
